body {
  font-family: "roboto";
  padding: 0;
  margin: 0;
  background-image: url(images/1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin: 0;
}

/* NAVBAR */

.navbar {
  background-color: #06070d;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

nav ul {
  font-size: 18px;
  color: #E5E7EB;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  list-style-type: none;
}

a { text-decoration: none; color: #E5E7EB; }
a:visited { text-decoration: none; color: #E5E7EB; }
a:hover { text-decoration: none; color: #E5E7EB; }
a:focus { text-decoration: none; color: #E5E7EB; }
a:hover, a:active { text-decoration: none; color: #E5E7EB; }

/* HERO */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #06070d;
  height: 100vh;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
}

.hero-text p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero img {
  width: 600px;
  height: 400px;
  border-radius: 10%;
  
}

.hero button {
  background: #E5E7EB;
  color: #06070d;
  padding: 15px 30px;
  margin-top: 15px;
  border-radius: 30px;
  font-weight: 700;
}


/* CRYPTOVURRENCYES */

.cryptocurrencys {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 400px;
}


.cryptocurrencys h3 {
  color: #E5E7EB;
  text-align: center;
}


.cryptocurrencys img {
  width: 100px;
  height: 100px;
}

/* QUOTE */


.quote {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06070d;
  height: 100vh;
}

.quote p, h3 {
  font-size: 30px;
  color: #E5E7EB;
}

/* CTA */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  height: 100vh;
}

.cta-container {
  width: 700px;
  justify-content: center;
  display: flex;
  flex-shrink: 2 1;
  background-color: #06070c;
  padding: 50px 50px;
  border-radius: 30px;
  gap: 30px;
  
}

.cta-button {
  background: #E5E7EB;
  color: #06070d;
  flex: 1;
  border-radius: 30px;

}

/* FOOTER */

footer {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #06070d;
  color: #E5E7EB;
}